@font-face {
    font-family: 'zihunjingdianrunhei';
    src: url('./字魂经典润黑.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '联想小新';
    src: url('./联想小新黑体.ttf');
    font-weight: normal;
    font-style: normal;
}